<div class="container">
    <div class="row">
      <div class="col">
        <div> 

          {{indice + 1}}.- {{empleadoLista.nombre}} {{empleadoLista.apellido}}  
          {{empleadoLista.cargo}}  {{empleadoLista.salario}}
          <a [routerLink]="['actualiza', indice]" [queryParams]="{accion :'1'}">
          actualiza
          </a>  
          <a [routerLink]="['actualiza', indice]" [queryParams]="{accion :'2'}">
            elimina
          </a>        
        </div>
        <app-caracteristicasempleado-c
        (caracteristicasempleado)="agregarCaracteristica($event)"
        ></app-caracteristicasempleado-c>
        <ul style="list-style:none">
          <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
        </ul>
      </div>
    </div>
  </div>
